<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Agregar Personajes</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="/">RickAndMorty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/addpersonaje/formulario">Agregar Personaje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Desloguear</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<h5 class="text-center mt-2">Formulario de Personaje</h5>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form th:action="@{/addpersonaje/guardar}" method="post" th:object="${personaje}">

        <div class="col">
          <label class="form-label">Nombre:</label>
          <input type="text" id="nombre" name="nombre" class="form-control"  required><br>
        </div>

        <label for="p1">parrafo1:</label>
        <input id="p1" name="p1" class="form-control"  required><br>

        <label for="p2">parrafo2:</label>
        <input id="p2" name="p2" class="form-control" required><br>

        <div class="row mb-4">
          <div class="col">
            <label for="imgprincipal">Imagen Principal:</label>
            <input type="text" id="imgprincipal" name="imgprincipal" class="form-control" required>
            <div id="emailHelp" class="form-text">Agregue la url de la imagen.</div>
            <br>
          </div>

          <div class="col">
            <label for="img1">img1:</label>
            <input id="img1" name="img1" class="form-control" required>
            <div id="emailHelp" class="form-text">Agregue la url de la imagen.</div>
            <br>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <label for="img2">img2:</label>
            <input id="img2" name="img2" class="form-control" required>
            <div id="emailHelp" class="form-text">Agregue la url de la imagen.</div>
            <br>
          </div>

          <div class="col">
            <label for="img3">img3:</label>
            <input id="img3" name="img3" class="form-control" required>
            <div id="emailHelp" class="form-text">Agregue la url de la imagen.</div>
            <br>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
