<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body style="margin: 0; overflow: hidden;">

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player
        src="https://lottie.host/b36700da-ec52-4703-add8-47eb91254faa/Wn3CTASk2M.json" background="##FFFFFF"
        speed="1" style="width: 100vw; height: 100vh"  loop autoplay direction="1" mode="normal"></lottie-player>

</body>
</html>